body {
  background-color: #e6ecf2;
}

.background-white {
  background-color: #e6ecf2;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  margin-top: 70px;
  padding: 15px;
}

.navbar-title-color {
  color: white;
}

.navbar-component {
  background-color: #ff1025;
}

.align-left {
  text-align: right;
}
